body {
  font-family: Arial, sans-serif;
  line-height: 1.4em;
  color: #555;
}

#wrapper {
  width: 960px;
  margin: 2em auto 1em;
  overflow: hidden;
}

header {
  height: 150px;
  background: url("/assets/tools.jpg") no-repeat top right;
}

header h1 {
  float: left;
  width: 0;
  padding-left: 250px;
  height: 150px;
  background: url("/assets/logo.jpg") no-repeat top left;
  overflow: hidden;
}

nav {
  margin-top: 2em;
  text-align: center;
}

nav a, nav a:visited {
  text-decoration: none;
  color: #999;
  display: inline-block;
  margin: 0 1.5em;
  position: relative;
  padding: 1em 0.5em 1em 1em;
  border: solid 2px #DDD;
  border-width: 0 2px;
  margin-bottom: 2em;
  text-transform: lowercase;
  letter-spacing: 0.6em;
}

nav a div {
  border-bottom: solid 2px #DDD;
  position: absolute;
}

nav a:hover, nav a:hover div {
  border-color: #777;
  color: inherit;
}

nav a .top {
  top: 15%;
  right: -7px;
  width: 110%;
}

nav a .bottom {
  bottom: 15%;
  left: -7px;
  width: 110%;
}

#content {
  clear: both;
  min-height: 20em;
  text-align: justify;
}

footer {
  margin-top: 6em;
  font-size: 0.8em;
  color: #AAA;
  text-align: center;
}

h2, h3, h4 {
  text-transform: lowercase;
  letter-spacing: 0.6em;
  text-align: center;
}

h2 {
  font-size: 2em;
}

h3 {
  font-size: 1.5em;
  margin-top: 2em;
}

a, a:visited {
  text-decoration: underline;
  color: #999;
}

h2, h3, h4, p {
  margin-bottom: 1em;
}

.contact {
  text-align: center;
}
