<!doctype html>
<html>
<head>
  <title>Andy Grundy Architect</title>
  
  <meta name="keywords" content="andy grundy, architect, cheshire, adlington, macclesfield, planning permission, building regulation, house, home, extension, design, survey, build"/>
  <meta name="descripton" content="Architectural plans drawn for planning and building regulations from small extensions and conversions to new build projects"/>
  <link rel="stylesheet" type="text/css" href="/assets/reset.css"/>
  <link rel="stylesheet" type="text/css" href="/assets/screen.css"/>
  <script type="text/javascript">
    if (document.location.hostname.search("andygrundyarchitect.co.uk") !== -1) {
      var _gaq = _gaq || [];
      _gaq.push(['_setAccount', 'UA-30708566-1']);
      _gaq.push(['_trackPageview']);
      (function() {
        var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
        ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
        var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
      })();
    }
  </script>
</head>
<body>
  <div id="wrapper">
    <div class="header">
        <a href="/">
          <h1>Andy Grundy Architect</h1>
        </a>
    </div>
    <div class="nav">
      <a href="/">
        <div class="top"></div>Home<div class="bottom"></div>
      </a>
      <a href="/profile.html">
        <div class="top"></div>Profile<div class="bottom"></div>
      </a>
      <a href="/process.html">
        <div class="top"></div>Process + Fees<div class="bottom"></div>
      </a>      
      <a href="/portfolio.html">
        <div class="top"></div>Portfolio<div class="bottom"></div>
      </a>
      <a href="/contact.html">
        <div class="top"></div>Contact<div class="bottom"></div>
      </a>
    </div>
    <div id="content">
      <%= content %>
    </div>
    <div class="footer">
      Copyright &copy; Andy Grundy Architect, 2012 | Phone 01625 878 414 | <a href="/contact.html">Email us</a>
    </div>
  </div>
</body>
</html>